<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragmentos :: cabeca('Editar o Professor')}">
</head>
<body>
    <div class="container corpo">
        <div class="row">
            <div class="col-md-8">
                <header th:replace="~{fragmentos :: cabecalho('Edição do Professor #' + ${IdProf})}">
                </header>
                <form th:object="${requisicaoNovoProf}" th:action="@{/professores/{id-prof} (id-prof = ${IdProf})}" method="POST">
                    <label>Nome do Professor:</label> <br>
                        
                        <input class="form-control" th:errorclass="is-invalid" type="text" id="tamanho" th:field="*{nomeDTO}">
                    <div class="invalid-feedback" th:errors="*{nomeDTO}"></div>
                    <br>
                        
                    <label>Salario do Professor:</label> <br>
                        
                    <input class="form-control" th:errorclasss="is-invalid" id="tamanho" type="number" min="1000" th:field="*{salarioDTO}">
                    <div class="invalid-feedback" th:errors="*{salarioDTO}"></div>
                    <br>
                        
                    <label>Status do Professor:</label> <br>
                        
                    <select class="form-select" th:errorclass="is-invalid" id="tamanho" th:field="*{statusProfessorDTO}">

                        <option th:each="status : ${statusProfessor}" th:value="${status}" th:text="${status}"></option>
                    </select>
                        
                    <br>
                    <button class="btn btn-primary espaco-cima" type="submit">Enviar</button>
                </form>
                <a class="btn btn-secondary espaco-cima" href="javascript:history.back()"> voltar</a>
            </div>
            <div class="col-md-4">
                <img class="troll" src="https://i.pinimg.com/originals/77/85/fc/7785fca11d1f66e51627d67d3438cdf7.gif" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</body>
</html>