<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<head th:insert="~{fragmentos :: cabeca('Lista de professores')}">

</head>

<body>
    <div class="container corpo">
        <header th:replace="fragmentos :: cabecalho">
            <p>era para ter algo aqui??kkk</p>
        </header>
        <h3 style="text-align: center;">Lista de Professores</h3>
        <div class="tabelo_redondo">
            <table class="tabelo">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Salário</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="professor : ${professores}">
                        <th scope="row" th:text="${professor.getId()}">Id_professor</th>
                        <td th:text="${professor.nome}">Nome_professor</td>
                        <td th:text="${professor.salario}">Salário_professor</td>
                        <td th:text="${professor.status}">Status_professor</td>
                        <td id="ajeita">
                            <a href="" class="btn btn-primary">detalhes</a> |
                            <a href="" class="btn btn-success">editar</a> |
                            <a href="" class="btn btn-danger">remover</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/professores/novo" class="btn btn-success espaco-cima">Novo Professor +</a>
    </div>
</body>