<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>oiii</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <blockquote>
        <p>"Oi gustavo."<br>
                         <cite th:text="${nome}">- Gustavo</cite></p>
    </blockquote>
    <img src="https://static.wikia.nocookie.net/subnautica/images/e/ec/Snowstalker_Fauna.png/revision/latest/scale-to-width-down/1000?cb=20190314040249">
</body>
</html>
