<!DOCTYPE html>

<html>
    <head th:insert="~{fragmentos :: cabeca('Home')}">
    </head>
    <body>
        <div class="container corpo">

            <header th:replace="~{fragmentos :: cabecalho('Sistema escolar')}">

            </header>

            <div class="tab-content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a>professores</a>
                    </li>
                    <li class="list-group-item">
                        <a>alunos</a>
                    </li>
                </ul>
            </div>

        </div>
    </body>
</html>
