<!DOCTYPE html>

<html>
    <head th:insert="~{fragmentos :: cabeca('Home')}">
    </head>
    <body>
        <div class="container corpo">

            <header th:replace="~{fragmentos :: cabecalho('Sistema escolar')}">

            </header>

            <div class="tab-content">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a>professores</a>
                    </li>
                    <li class="list-group-item">
                        <a>alunos</a>
                    </li>
                </ul>
            </div>
            <div class="tenor-gif-embed" data-postid="12218147726709417048" data-share-method="host" data-aspect-ratio="1" data-width="30%"><a href="https://tenor.com/view/cat-meme-trampoline-funny-bounce-gif-12218147726709417048">Cat Meme GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
    </body>
</html>
